body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.nav a {
    display: flex;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
}

.nav a:hover {
    background-color: white;
    color: red;
}

.navlogo img{

    width: 250px;
    height: auto;
}

.middel {
    background-image: url('../img/uneedit04.jpg');
    background-size: cover;
    background-position: center;
    padding: 50px;
    color: white;
    text-align: left;
    height: 400px;
}

.contact-info {
    display: flex;
}

.contact-section {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 0 solid #ccc;
    background-color: #4682B4;
}

.h1 {
    text-align: center;
}

.F.A.Q {
    display: flex;
    background-color: #8c0404;
    height: 1000px;
}


.qa-pair {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0px 200px;
}

.vraag {
    font-weight: bold;
}

.answer {
    background-color: lightgray;
    padding: 10px;
}

.leeg-stuk {
    height: 300px;
}

.contact-section2 {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 0 solid #ccc;
    background-color: #8c0404;
}
