body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: white;
    overflow: hidden;
}

.nav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav a:hover {
    background-color: white;
    color: red;
}

.navlogo {
    width: 1px;
    height: auto;
}
